#formulario{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    height: 650px;
    margin: 1% auto -7% auto;
}
label{
    color: beige;
}
input{
    color: black;
}
.nombre, .empresa, .telefono{
    width: 120px;
}
.correo{
    width: 240px;
}
.comentario{
    height: 120px;
    width: 450px;
    color: black;
}
.boton1{
    margin-left: 90%;
    margin-top: 10px;
    color: black;
    width: 60px;
    border-radius: 5px;
    border: none;
}
.boton1:hover{
    background-color: rgb(58, 83, 16);
    color: blanchedalmond;
}
@media(max-width: 425px) {
    #formulario{
        width: 50%;
        height: 761px;
        margin: 2% auto 6% auto;
    }
    #form{
        margin-top: 25px;
        width: 100%;
    }
    .nombre, .empresa, .telefono{
        width: 100%;
    }
    .comentario{
        height: 120px;
        width: 100%;
        color: black;
    }
    .correo{
        width: 100%;
    }

}
.formulario__incorrecto>input{
    color: red;
    border: 1px solid darkred;
}