body{
    background-image: url(/Imagenes/body.jpg);
    background-position: center;
}
main{
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 70% 80%;
    width: 70%;
    height: 100%;
    margin: -10% 15% -20% 15%;
    border-radius: 12px;
    position:relative;
    padding-top: 2%;
}
#ingeniero{
    box-sizing: border-box;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 90px 10px 90px;
    overflow: auto;
}
#ingeniero h2 {
    text-align: center;
}
#ingeniro h2, p{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 2px 4px;
}
.ingeniero{
    margin: 2% 15%;
}
@media (max-width:1024px){
    #ingeniero{
        display: block;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        height: 200px;
        width: 79%;
        margin: 5% 10%;
        padding: 0px;
        overflow: auto;
    }
}
@media (max-width:768px){
    #ingeniero{
        display: block;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 300px;
    width: 80%;
    margin: 10% 10%;
    padding: 10px;
    overflow: auto;
    }
}
@media (max-width:425px){
    #ingeniero{
        display: block;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        height: 200px;
        width: 95%;
        margin: 5% 5%;
        padding: 0;
        overflow: auto;
    }
    #ingeniro h2 p{
        text-align: justify;
        font-size: 10px;
    }

    main{
        background-color: rgba(15, 15, 15, 0.8);
        background-size: 70% 80%;
        width: 90%;
        height: 50%;
        margin: -5% 2% -5% 2%;
        border-radius: 12px;
        position:static;
        padding-top: 2%;
    }
}