#contenedor{
    background-color: rgba(15, 15, 15, 0.836);
    background-size: 70% 80%;
    width: 85%;
    height: 100%;
    margin: -8% auto -3% auto;
    border-radius: 12px;
    position: relative;
    padding-top: 2%;
}
#mapa{
    text-align: center;
    margin: 4% auto -9% auto;
    height: 600px;
}
@media (max-width:768px){
    #mapa{
        margin: -1% auto 5% auto;
        height: 100%;
    }
    .mapa{
        height: 650px;
        margin: 40px auto;
    }
    #contenedor{
        position: static;
    }
}
@media (max-width:425px){
    #mapa{
        margin: -1% auto 5% auto;
        height: 315px;
    }
    .mapa{
        height: 225px;
        margin: 40px auto;
    }
    #contenedor{
        position: static;
    }
}
