#musica{
    box-sizing: border-box;
    height: 200px;
    width: 900px;
    margin: 40px auto 0px 250px;
}

#musica h3{
    text-align: center;
}

#musica iframe{
    height: 80px;
    width: 250px;
    margin: 12px;
}

@media(max-width:425px){
    
    #musica, iframe, h3 {
        height: 100%;
        width: 95%;
    }
    
    #musica{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 5%;
        padding: 0px;
    }

    #musica h3{
        text-align: center;
    }

}