#musica {
    background-color: rgba(4, 4, 44, 0.4);
    position:static;
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    border-radius: 12px;
    padding: 2%;
    margin-top: 2%;
}
#musica h3{
    text-align: center;
    margin: 30px 17px;
}
#musica iframe{
    height: 81px;
    width: 30%;
    margin: auto 1%
}
@media(max-width:425px){
    #musica iframe{
        height: 81px;
        width: 90%;
        margin: 5px 5%
    }    
    #musica, iframe, h3 {
        height: 100%;
        width: 95%;
    }
    #musica{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 0px;
    }
    #musica h3{
        text-align: center;
    }
}