*{
    font-family: 'Fjalla One', sans-serif;
}
h1,p,strong,h2,h3,h4,a,li{
    color: beige;
}
h1,h2,h3{
    text-align: center;
}
header{
    background-image: url(/Imagenes/Noche.jpg);
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position:static;
    height: 450px;
}
#hamburguer{
    display: none;
    color: beige;
}
header h1{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px;
}
header>p{
    box-sizing: border-box;
    text-align: center;
}
header #navegator ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -3% 15% auto 15%;
    padding: 0;
}
header ul li{
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    height: 120px;
    width: 120px;
}
header ul a{
    font-size: 18px;
    color:rgb(218, 216, 216);
    text-decoration: none;
    height: 150px;
}
.icon>a{
    font-size: 40px;
    height: 150px;
}

.contact{
    list-style: none;
    color: gray;
    padding: 45px 13px;
}

.whatsapp, .telegram{
    height: 86px;
    padding: 0px;
    margin-left: -50px;
}

.redes{
    position: fixed;
    left: 95%;
    display: flex;
    flex-direction: row;
    height: 330px;
    width: 110px
}

.one{
    position: fixed;
    left: 93%;
    display: flex;
    flex-direction: row;
    height: 330px;
    width: 100px
}

.msj{
    width: 30px;
    height: 80%;
    background-color: red;
    writing-mode: vertical-lr;
    text-orientation: upright;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    font-size: 14px;
}
#whatsapp, #telegram{
    font-size: 30px;
    padding-top: 15%;
    text-align: left;
    margin: auto;
}
@media(max-width:768px){
    header{
        height: 370px;
        width: 100%;
        margin: 0;
        padding: 0;
        background-size: 100%;
    }
    nav{
        height: 30%;
    }
    .redes{
        left: 90%;
    }
    header #navegator ul{
        margin: -3% 5%;
    }
}
@media(max-width:425px){
    h1, h2, h3{
        font-size: 15px;
        margin-bottom: 2px;
    }
    p {
        font-size: 12px;
    }
    header{
        height: 200px;
        width: 104%;
        background-image: url(/Imagenes/Noche.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position:static;
        padding: 0%;
        margin: -30px -7px;
    }
    header h1{
        font-family: 'Fjalla One', sans-serif;
        font-family: 'Lobster', cursive;
        font-size: 45px;
        text-align: center;
        margin-top: 30px;
    }
    .icon a{
        font-size: 20px;
    }
    header #navegator .enlaces-menu{
        list-style: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }
    #navegator>ul>li{
        width: 100%;
        text-align: center;
        margin: 0 -8%;
    }
    #hamburguer{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    header #navegator .enlaces-menu.activado{
        display: flex;
    }
    @keyframes muestraMenu {
        from{opacity: 0;}
        to{opacity:1;}
    }
    .activo{
        animation:muestraMenu 500ms ease-in-out both;
        background-color: rgb(61, 59, 59);
        position: fixed;
        height: 1000px;
        width: 120%;
        margin-top: 0px;
    }
    #redes{
        left: 78%;
    }
    .contact{
        list-style: none;
        color: gray;
        padding: 5px;
        margin: auto -20px;
    }
    
    .whatsapp, .telegram, .twitter{
        height: 86px;
        padding: 0px;
        margin: inherit;
    }
    
    .redes{
        left: 93%;
        display: flex;
        flex-direction: row;
        height: 300px;
        width: 110px;
        position: fixed;
    }
    
    .one{
        left: 86%;
        display: flex;
        flex-direction: row;
        height: 300px;
        width: 180px
    }
    
    .msj{
        width: 26px;
        background-color: red;
        writing-mode: vertical-lr;
        text-orientation: upright;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        margin: 0;
    }
    
    #whatsapp, #telegram, #twitter{
        font-size: 30px;
        margin: 15%;
        width: 68px;
        height: 71px;
    }
}

.signal{
    background-color: red;
    clip-path: polygon(0% 0%, 100% 0, 100% 79%, 49% 100%, 0 79%);
}
@media(max-width:375px){
    .redes{
        left: 92%;
    }
    .one{
        left: 82%;
    }
    header h1{
        font-size: 30px;
    }
}