.portafolio{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2px;
    margin: -4% auto -8% auto;
}
.muestra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.proyecto{
    margin: 20px;
}
.proyecto img{
    height: 200px;
    width: 200px;
}
.tools{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.tools>li{
    margin: 18px;
}
.css{
    color: royalblue;
}
.html{
    color: orangered;
}
.js{
    color: yellow;
}
@media(max-width:768px){
    .muestra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .proyecto{
        margin: 0;
    }
    .portafolio{
        margin: 4% auto 3% auto;
    }
}
@media(max-width:425px){
    .muestra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .proyecto{
        margin: 0;
    }
    .portafolio{
        margin: 10% auto 6% auto;
    }
}